[submodule "kissat_with_db_integration"]
	path = kissat_with_db_integration
	url = git@github.com:Alex-Andrv/kissat_with_db_integration.git
[submodule "backdoor-producer"]
	path = backdoor-producer
	url = git@github.com:Alex-Andrv/backdoor-producer.git
[submodule "minisat_with_redis_integration"]
	path = minisat_with_redis_integration
	url = git@github.com:Alex-Andrv/minisat_with_redis_integration.git
